@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquareBold";
  src: url("/fonts/NanumSquareBold.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRegular";
  src: url("/fonts/NanumSquareRegular.ttf") format("truetype");
}

@font-face {
  font-family: "HSSantokki-Regular";
  src: url("/fonts/HSSantokki-Regular.ttf") format("truetype");
}

@layer base {
}

@layer utilities {
}

@layer components {
  .action-btn {
    @apply shadow-2px-slate-900 tablet:w-[164.35px] flex h-[52px] w-[54.78px] items-center justify-center gap-[4px] rounded-[24px] border-[2px] border-slate-900 font-nanumsquare-bold text-16px transition-all disabled:cursor-not-allowed;
  }
}
